<article class="listing">
  <div class="centered">
    <h3>{{this.project.title}}</h3>
    <a href={{this.project.url}} target=#>
      <img src={{this.project.image}} alt="">
    </a>
  </div>
  <div class="details">
    <div class="detail">
      <span>Category:</span> {{this.project.category}} <br>
      <span>Description:</span> {{this.project.description}}
    </div>
  </div>
</article>
