<div class="row resume">
  <div class="col-md-3">
    <div class="code-background"></div>
  </div>
  <div class="col-md-9">
    <h1>Haig Hagopian</h1>
    <h2>Software Engineer</h2>
  </div>
</div>
<div class="row resume">
  <div class="col-md-3">

    <div>
      <h3>TLDR</h3>
      <p>
        Full-stack engineer with a huge creative appetite and passion for gaming
         in all forms seeking to apply past experiences in collaborative world
         building, power balancing and playtesting to PC game development.
      </p>
    </div>

    <div>
      <h3>Contact Info</h3>
      <a href="mailto:haighagopian@gmail.com">
        <FaIcon @icon="envelope-square" @size="2x" />
      </a>
      <a href="https://www.linkedin.com/in/haighagopianprofile/">
        <FaIcon @icon="linkedin" @prefix="fab" @size="2x" />
      </a>
      <a href="https://github.com/bitlogic-dev/portfolio/issues">
        <FaIcon @icon="github-square" @prefix="fab" @size="2x" />
      </a>
    </div>

    <div>
      <h3>Favorite Games</h3>
      <ul class="list-unstyled">
        <li>League of Legends</li>
        <li>Legends of Runeterra</li>
        <li>Teamfight Tactics</li>
        <li>Overwatch</li>
        <li>Hearthstone</li>
        <li>Dungeons & Dragons</li>
        <li>Zombiecide Apocalypse</li>
      </ul>
    </div>

  </div>

  <div class="col-md-9">

    <!--<div class="resume block">
      <h3>Key Skills</h3>
      <div>
        {{#each @model.skills as |skillUnit|}}
          <span class="badge badge-info">{{skillUnit.name}}</span>
        {{/each}}
      </div>
    </div>-->

    <div class="resume block">
      <h3>Projects</h3>
      <div class="results">
        {{#each @model.projects as |projectUnit|}}
          <ProjectItemCompact @project={{projectUnit}} @skills={{projectUnit.skills}}></ProjectItemCompact>
        {{/each}}
      </div>
    </div>

    <div class="resume block">
      <h3>Programming Experience</h3>
      <ul class="list-unstyled">
        <li>
          <div>
            <div class="deluxe-logo pull-left"></div>
            <h4>Deluxe Entertainment | Software Engineer</h4>
            <small class="text-muted">
              Developed multiple full stack web, desktop and microservice applications for digital cinema mastering and distribution around the world.
            </small>
          </div>
          <div class="work-experience">
            {{#each @model.experiences as |experience|}}
              <WorkExperience class="results" @project={{experience}} @skills={{experience.skills}}></WorkExperience>
            {{/each}}
          </div>
        </li>
        <li>
          <div style="min-height:75px;">
            <div class="snapmunk-logo pull-left"></div>
            <h4>SnapMunk | Web Developer</h4>
            <small class="text-muted">
              Techonology news and current events publication with millions of hits per month in web traffic.
            </small>
          </div>

          <div class="work-experience">
            <article class="listing work-experience compact results">
              <ul>
                <li>
                  <span>
                    <strong>Snapmunk.com</strong>
                  </span>
                  |
                  <span>
                    <em>Online publication for technology news and editorial content.</em>
                  </span>
                </li>
                <li>
                  <ul class="list-group">
                      <li class="list-group-item">Designed and maintained custom Wordpress website hosted on the cloud.
                      Refactored php templates and implemented SASS to allow layouts to scale
                      more easily and facilitate future customization.</li>
                    <li class="list-group-item">
                      <span class="badge badge-info">PHP</span>
                      <span class="badge badge-info">HTML5</span>
                      <span class="badge badge-info">CSS3</span>
                      <span class="badge badge-info">Javascript</span>
                      <span class="badge badge-info">WordPress</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </article>
          </div>

        </li>
      </ul>
    </div>

    <div class="resume block">
      <h3>Education & Training</h3>
      <ul class="list-unstyled">
        <li>Amazon Web Services Developer – Associate Certification</li>
        <li>freeCodeCamp - Full Stack Web Development Bootcamp</li>
      </ul>
    </div>
  </div>
</div>
{{outlet}}
